<% layout('layouts/boilerplate')%>
<h1>im sorry, the page you are looking for is not found</h1>
<h2>Press the button below to go back to the homepage.</h2>
<form action="/home" method="GET">
    <div class="d-flex justify-content-center">
        <button class="btn btn-outline-danger">Next</button>
    </div>
</form>